body { background: #a77f80; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 53px; display: flex; }
.block-email-0 { color: #252b42; font-size: 15px; margin-bottom: 5px; }
.block-payment-1 { color: #521cb3; font-size: 16px; margin-bottom: 5px; }
.block-config-2 { color: #866b84; font-size: 17px; margin-bottom: 5px; }
.block-validator-3 { color: #37cee3; font-size: 20px; margin-bottom: 5px; }
.block-search-4 { color: #fed702; font-size: 19px; margin-bottom: 5px; }